NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_POLYGON_EXPLORER_URL=https://amoy.polygonscan.com
BLOCKCHAIN_VERIFICATION_MODE=simulation
POLYGON_EXPLORER_URL=https://amoy.polygonscan.com
POLYGON_AMOY_RPC_URL=
POLYGON_PRIVATE_KEY=
POLYGON_VERIFICATION_CONTRACT_ADDRESS=
NEXT_PUBLIC_DEMO_MODE=true
